<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBENBg7FOs0X3XfAVGxnSr10Zl3SMhPVxI</string>
	<key>GCM_SENDER_ID</key>
	<string>357978808513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.us.looklab</string>
	<key>PROJECT_ID</key>
	<string>looklab-7acba</string>
	<key>STORAGE_BUCKET</key>
	<string>looklab-7acba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357978808513:ios:4520d2b28907dd85c1b440</string>
</dict>
</plist>